@using MagicVilla_Web.Models.Dto.VillaDTO;
@using Microsoft.AspNetCore.Components;
@model List<VillaDTO>
@{
    ViewData["Title"] = "Villa";
}

<img class="d-block w-100"
     src="~/images/home/slide1.jpg"
     style="object-fit:cover;object-position:center" />
<hr />
@*List row*@
<div class="row g-4">
    @foreach (var villa in Model)
    {
        <div class="col-12 col-md-4">
            <div class="card w-100">
                <img src="@villa.ImageUrl" class="card-img-top" alt="img" style="object-fit:cover; object-position:center;">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold p-0 m-0 mb-2">@villa.Name</h5>
                    <div class="row gx-2 mb-2">
                        <span class="col-6 col-md-4">Price: </span>
                        <span class="col-6 col-md-8">
                            @villa.Rate.ToString("c")
                        </span>
                    </div>
                    <div class="row gx-2 mb-2">
                        <span class="col-6 col-md-4">Max Ocupancy: </span>
                        <span class="col-6 col-md-8">
                            @villa.Occupancy adult@(villa.Occupancy > 1 ? "s" : "")
                        </span>
                    </div>
                    <div class="row gx-2 mb-2">
                        <span class="col-6 col-md-4">Villa Size: </span>
                        <span class="col-6 col-md-8">
                            @villa.Sqft sqft
                        </span>
                    </div>
                    <div class="row gx-2 mb-2">
                        <span class="col-6 col-md-4">Description: </span>
                        <span class="col-6 col-md-8 card-text text-muted text-justify p-0 m-0">
                            @((MarkupString)villa.Details)
                        </span>
                    </div>
                    <a href="#" class="btn btn-primary w-100">Book</a>
                </div>
            </div>
        </div>

    }
</div>

